<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.messages2">

    <application>
        <activity
            android:name=".ChatActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".ContactListActivity"
            android:theme="@style/Theme.MaterialComponents" />
    </application>

</manifest>
